<nav class="main-navbar navbar navbar-expand-lg navbar-light bg-light pt-4 pb-5">
  <div class="container">
      <div class="d-flex justify-content-between w-100">
          <div class="left-inner pt-1 ps-5">
              <div class="log">
                  <img class="" src="assets/image/company-logo.png" width="200" height="80">
              </div>
          </div>
          
          <div class="right-inner d-flex pt-4">
              <div class="left-border"></div>
              <div class="navbar-information mx-3">
                  <span><i class="fa fa-solid fa-phone" ></i>+970-2-240 00 65</span>
              </div>
              <div class="left-border"></div>
              <div class="navbar-information mx-3">
                  <span><i class="fa fa-solid fa-envelope"></i>info@vertex-palestine.com</span>
              </div>
              <div class="left-border"></div>
              <div class="navbar-information mx-3">
                  <span class="text-capitalize"><i class="fa fa-solid fa-location-dot"></i>Palestine, ramallah, Al-Ersal</span>
              </div>
          </div>
      </div>     
  </div>
</nav>
<!--header navbar-->
<!--header navbar-->
<div class="navbar navbar-light navbar-expand-lg bg-light header-navbar-inner w-75 mx-auto py-3 rounded text-capitalize"> 
  <div class="container">
      <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active ms-4">
              <a class="nav-link header-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link header-link" href="#">about</a>
            </li>
            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>-->
            <li class="nav-item">
              <a class="nav-link header-link" href="#">services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link header-link" href="#">projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link header-link" href="#">staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link header-link" href="#">contact</a>
            </li>
          </ul>
        </div>
  </div>
  
</div>