<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted footer">
    <!-- Section: Links  -->
        <section class="pt-2">
            <div class="container text-center text-md-start mt-5 w-75 mx-auto">
        <!-- Grid row -->
            <div class="row mt-3">
          <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                    <img class="" src="assets/image/company-logo.png" width="130" height="60">
                </h6>
                <p class="ps-3">
                    Here you can use rows and columns to organize your footer content. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit.
                </p>
                </div>
            <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 pb-4 text-capitalize text-center">
            <!--Links -->
                <h6 class="text-uppercase fw-bold mb-4 text-left">pages</h6>
                <p class="ms-5">
                <a href="#" class="text-reset me-5">Home</a>
                </p>
                <p class="ms-5">
                <a href="#" class="text-reset me-5">about</a>
                </p>
                <p class="ms-5">
                <a href="#" class="text-reset me-5">services</a>
                </p>
                <p class="ms-5">
                <a href="#" class="text-reset me-5">projects</a>
                </p>
                <p class="ms-5">
                <a href="#" class="text-reset me-5">staff</a>
                </p>
                <p class="ms-5">
                <a href="#" class="text-reset me-5">contact</a>
                </p>
                </div>
            <!-- Grid column -->
            <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i>Palestine, Ramallah, Al-Ersal</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>info@vertex-palestine.com
                </p>
                <p><i class="fas fa-phone me-3"></i>+970-2-240 00 65</p>
                </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
         © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">vertex-palestine</a>
        </div>
        <!-- Copyright -->
    </footer>
  <!-- Footer -->
