
.footer{
    color:var(--dark-blue) !important; 
}
.text-reset{
    color:var(--dark-blue) !important;
    font-size: 17px !important;
    text-decoration: none !important;
}
.text-reset:hover{
    color: var(--blue) !important;
    border-bottom:var(--blue) solid 3px !important;
    transition: all ease 0.3s !important;
}
