*{
    box-sizing: border-box;
    margin:0 ; 
    padding:0 ; 
}
body{
    font-weight: 500;
}
:root {
    --blue: #8a99c0;
    --dark-blue : #092e79;
    --white: #ffffff; 
}
  
.main-navbar{
    background: var(--dark-blue);
    height: 50px;
    color:var(--dark-blue);
    padding:10px;
    border-bottom: 1px solid var(--blue) ;
}
.icon{
    color:Var(--blue) !important ; 
}
.nav-items li{
    list-style: none;
    display: inline-block;
}
.nav-items .top-navbar-item{
    text-decoration: none;
    margin-left: 40px;
    text-transform: capitalize;
    color:var(--blue);
}
/*.main-navbar .navbar-information{
    padding-left : 10px; 
}*/
.main-navbar .left-border{
   
    width: 1px;
    height: 20px;
    margin-top:5px;
    background-color: #394664;  
}
/*second navbar*/

.header-navbar{
    height: 80px;
    background: #f7f3f3 !important;
    transform: translateY(50%);
}
.header-navbar-inner{
    background: var(--dark-blue) !important;
    align-items: center;
    height: 80px;
  
}
.header-navbar a.nav-link.header-link {
    background: red !important;
    color:#fff !important ;
}